<mat-nav-list>
    <mat-list-item routerLink="home">
        <mat-icon>home</mat-icon><span>Home</span>
    </mat-list-item>
    <mat-list-item routerLink="expenses">
        <mat-icon>attach_money</mat-icon><span>Expenses</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            To Do List
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="#">
                <mat-icon>add</mat-icon><span>Add</span>
            </a>
            <a mat-list-item routerLink="#">
                <mat-icon>delete</mat-icon><span>Remove</span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>
<mat-divider></mat-divider>
<button mat-button class="menu-button">
    <mat-icon>help</mat-icon>
    <span>Help</span>
</button>
