<mat-nav-list>
    <mat-list-item routerLink="home">
        <mat-icon>home</mat-icon><span>Home</span>
    </mat-list-item>
    <mat-list-item routerLink="expenses">
        <mat-icon>attach_money</mat-icon><span>Expenses</span>
    </mat-list-item>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            Mobile Phone
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="#">
                <mat-icon>apple</mat-icon><span>iOS</span>
            </a>
            <a mat-list-item routerLink="#">
                <mat-icon>android</mat-icon><span>Android</span>
            </a>
        </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
            Frameworks
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item routerLink="#">Spring</a>
            <a mat-list-item routerLink="#">Hibernate</a>
            <a mat-list-item routerLink="#">Struts</a>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-nav-list>